*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


.categporias {
    
    transition: all .4s ease-in;
}

.produtos h2
{
    font-size: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    color: #010f1c;
}
.produtos p
{
    margin-top: 10px;
    color: #9a9a9a;
}
.produtos  .filtro
{
    padding: 2px;
    
}
.produtos  .filtro .categorias h3
{
    color: #027e72;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: .5em;
    font-weight: bold;
}
.produtos  .filtro .categorias ul 
{
    margin-top: 8px;
  
}
.produtos  .filtro .categorias ul li
{
    list-style: none;
    padding: 8px 8px;
    color: #010f1c;
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0;
    transition: all .4s ease;
}


.produtos  .filtro .categorias ul li:hover, .produtos  .filtro .categorias ul li.ativo
{
    list-style: none;
    transition: all .3s ease;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin-left: 0;
    border-radius: 8px;
    background: #027e72;
}


.produto .box img {
    width: 13em !important;
    height: 11em !important;
}


.produtos-fixed {
    position: fixed;
    top: 2rem;
    background: white; 
    padding-top: 30px;
    padding-right: 16px;
    padding-left: 10px;
    transition: all .2s ease-out;
    border-radius: 15px;
    z-index: 1; /* ajuste conforme necessário */
  }
  

  .n {
    height: 50vh;
    display: grid;
    place-content: center;
  }

  .img-see {
    width: 100%;
    max-width: 18em;
  }

  .scroll-x {
    overflow-x: auto!important;
  }