.foot {
    background: #000;
}

.foot .container .logo-f {
    width: 5em;
    border-radius: 20px;
    margin-left: 2rem;
}
.foot .container .icone ul {
    display: inline-flex;
    list-style-type: none;
    justify-content: left;
    margin: .5em;
}
.foot .container .icone ul li {
    
    margin-right: .6em;
    color: white;
}

.c ul {
    margin-left: 1.5rem;
}

.c h3 {
    margin-left: 2rem;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.c ul li {
    color: white;
    font-size: 14px;
    list-style-type: none;
}

.copy {
    padding: .8em 0;
    font-size: 12px;
    text-decoration: none;
}
.copy a {
    text-decoration: none;
}